<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyPOS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>*@

    @*<script>
        $(function () {
            function ini() {
                var hash = $(location).attr('hash');
                if (hash && hash != '#') {
                    charge(hash.substr(1));
                } else {
                    charge("page0");
                }
            }

            function charge(page) {
                $("#app").load(page + ".html", function () {
                    $(".btn").click(function () {
                        $(location).attr('hash', $(this).data("target"));
                        $("body").scrollTop(0);
                    });
                });
            }

            $(window).on('hashchange', function () { ini(); });

            ini();
        });
    </script>*@


    @RenderSection("Styles", false)

    @*@section Styles {
            <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
        }*@
        
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyPOS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("Gestion", "Management", "Home")</li>
                    <li>@Html.ActionLink("Transaction", "Transaction", "Home")</li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-globe"></span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu disabled">
                            <li>@Html.ActionLink("Fr", "Transaction", "Home")</li>
                            <li>@Html.ActionLink("Nl", "Transaction", "Home")</li>
                            <li>@Html.ActionLink("De", "Transaction", "Home")</li>
                            <li>@Html.ActionLink("En", "Transaction", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MyPOS ASP.NET MVC Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

