<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyPOS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>*@

    @RenderSection("Styles", false)
        
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyPOS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-globe"></span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu ">
                            @*<li>@Html.ActionLink("Fr", "Default", "Languages", new { lang = "Fr", id = 0 }, "")</li>
                            <li>@Html.ActionLink("Nl", "Default", "Languages", new { lang = "Nl", id = 0 }, "")</li>
                            <li>@Html.ActionLink("De", "Default", "Languages", new { lang = "De", id = 0 }, "")</li>
                            <li>@Html.ActionLink("En", "Default", "Languages", new { lang = "En", id = 0 }, "")</li>*@

                            <li><a id="LangFr" href="#" onclick="LanguageDefault('Fr')">Fr</a></li>
                            <li><a id="LangNl" href="#" onclick="LanguageDefault('Nl')">Nl</a></li>
                            <li><a id="LangDe" href="#" onclick="LanguageDefault('De')">De</a></li>
                            <li><a id="LangEn" href="#" onclick="LanguageDefault('En')">En</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - MyPOS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

