@model MyPOS2.Data.Entity.BRAND

@{
    ViewBag.Title = "Delete";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Supprimer</h2>

<h3>Etes-vous sur de vouloir le supprimer?</h3>
<div>
    <h4>MARQUE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nameBrand)*@
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameBrand)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.imageBrand)*@
            Logo
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.imageBrand)*@
            <img src="@Url.Content(Model.imageBrand)" alt="Logo de la marque" class="imgIndex" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la Liste", "Index")
        </div>
    }
</div>
