@model IEnumerable<MyPOS2.Data.Entity.BRAND>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}



<h2>Marques</h2>

<p>
    @Html.ActionLink("Créer nouveau", "Create") | @Html.ActionLink("Retour au Menu", "Management", "Home")
</p>
@using (Html.BeginForm())
{
    <label for="SearchString"><strong>Recherche par nom: </strong></label>
    <div style="display:flex;">
        @Html.TextBox("SearchString", "", new { @class = "form-control" })
        <input type="submit" value="Recherche" />
        @Html.ActionLink("Tous", "Index", "Brands", new { type = "button", @class = "btn btn-primary" })
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nom", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            Logo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameBrand)
            </td>
            <td>
                <img src="@Url.Content(item.imageBrand)" alt="Logo de la marque" class="imgIndex" />
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.idBrand }) |
                @Html.ActionLink("Détails", "Details", new { id = item.idBrand }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.idBrand })
            </td>
        </tr>
    }

</table>
