@model MyPOS2.Data.Entity.SETTING

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Details</h2>

<div>
    <h4>SETTING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameSetting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameSetting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueSetting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueSetting)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSetting }) |
    @Html.ActionLink("Back to List", "Index")
</p>
