@model IEnumerable<MyPOS2.Data.Entity.CASH_BOTTOM_DAY>

@{
    ViewBag.Title = "Index";
}

<h2>Fond de caisse</h2>

<p>
    @Html.ActionLink("Créer nouveau", "Create") |
    @Html.ActionLink("Retour au Menu", "Transaction", "Home")
</p>
@using (Html.BeginForm())
{
    <label for="SearchString"><strong>Recherche par date: </strong></label>
    <div style="display:flex;">
        @Html.TextBox("SearchString", "", new { @class = "form-control", placeholder = "DD/MM/YYY", type = "date" })
        <input type="submit" value="Recherche" />
        @Html.ActionLink("Tous", "Index", "Cash", new { type = "button", @class = "btn btn-primary" })
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            Cash début de journée
        </th>
        <th>
            Cash fin de journée
        </th>
        <th>
            Nom du terminal
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateDay, new { placeholder = "DD/MM/YYY", type = "date" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beginningCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINAL.nameTerminal)
            </td>
            <td>
                @Html.ActionLink("Supprimer", "Delete", new { id1 = item.dateDay, id2 = item.TERMINAL.idTerminal })
            </td>
        </tr>
    }

</table>
