@model MyPOS2.Data.Entity.LANGUAGES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LANGUAGES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shortForm)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLanguage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
