@model MyPOS2.Data.Entity.AGE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AGE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imageAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rangeAges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rangeAges)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAge }) |
    @Html.ActionLink("Back to List", "Index")
</p>
