@model IEnumerable<MyPOS2.Data.Entity.AGE>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/pos2.js")" type="text/javascript"></script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer nouveau", "Create") | @Html.ActionLink("Retour au Menu", "Management", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.imageAge)*@
            Image
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.rangeAges)*@
            Tranche d'ages
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.imageAge)*@
                <img src="@Url.Content(item.imageAge)" alt="image de l'age autorisé" class="imgIndex" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rangeAges)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.idAge }) |
                @Html.ActionLink("Détails", "Details", new { id = item.idAge }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.idAge })
            </td>
        </tr>
    }

</table>
