@model MyPOS2.Data.Entity.TERMINAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TERMINAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameTerminal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameTerminal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOP.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTerminal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
