@model IEnumerable<MyPOS2.Data.Entity.TERMINAL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau Terminal", "Create") | @Html.ActionLink("Retour au Menu", "Management", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.nameTerminal)*@
            Nom du Terminal
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SHOP.phone)*@
            Nom du Magasin
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameTerminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOP.SHOP_TRANSLATION.FirstOrDefault(s => s.shopId == item.shopId).nameShop)
        </td>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.idTerminal }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTerminal }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.idTerminal })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Retour au Menu", "Management", "Home")
</div>
