
@model MyPOS2.Models.management.CategoryViewModel

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}


<h2>Details</h2>

<div>
    <h4>Catégorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Image</label>
        </dt>

        <dd>
            @if (Model.Cat.imageCat!= null)
            {
                <img src="@Url.Content(Model.Cat.imageCat)" alt="Image de la catégorie" class="imgIndex" />
            }
            else
            {
                <img src="~/Content/image/logo_noImage.png" alt="Pas d'image" class="imgIndex" />
            }
        </dd>

        @foreach (var item in Model.CatsTr)
        {
            <dl class="dl-horizontal">
                <dt>
                    Nom
                </dt>

                <dd>
                    @Html.DisplayFor(modelitem => item.nameCategory)
                </dd>

                <dt>
                    Langue
                </dt>

                <dd>
                    @Html.DisplayFor(modelitem => item.nameLanguage)
                </dd>
            </dl>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.Cat.idCategory }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
