@*@model IEnumerable<MyPOS2.Data.Entity.CATEGORY>*@
@model IEnumerable<MyPOS2.Models.management.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Catégories</h2>

<p>
    @Html.ActionLink("Créer nouveau", "Create") | @Html.ActionLink("Retour au menu", "Management", "Home")
</p>
@using (Html.BeginForm())
{
    @*<p>
            Recherche par date: @Html.TextBox("SearchString", "", new { @class = "form-control", placeholder = "DD/MM/YYY", type = "date" })
            <input type="submit" value="Search" />
        </p>*@
    <label for="SearchString"><strong>Recherche par nom: </strong></label>
    <div style="display:flex;">
        @Html.TextBox("SearchString", "", new { @class = "form-control" })
        <input type="submit" value="Recherche" />
        @Html.ActionLink("Tous", "Index", "Categories", new { type = "button", @class = "btn btn-primary" })
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NameCat)*@
            @Html.ActionLink("Nom", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relation)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image)" alt="Image de la catégorie" class="imgIndex" />
                }
                else
                {
                    <img src="~/Content/image/logo_noImage.png" alt="Pas d'image" class="imgIndex" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relation)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.IdCat }) |
                @Html.ActionLink("Détails", "Details", new { id = item.IdCat }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.IdCat })
            </td>
        </tr>
    }

</table>
