@model IEnumerable<MyPOS2.Data.Entity.SPP_HeroesTrans_Result>

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Détails</h2>

<div>
    <h4>HERO</h4>
    <hr />
    <div>
        
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayName(Model.First().imageHero)*@
                Image
            </dt>
            <dd>
                @*@Html.DisplayFor(model => model.imageHero)*@
                <img src="@Url.Content(Model.First().imageHero)" alt="Image du Héro" class="imgIndex" />
            </dd>
            @foreach (var item in Model)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayName(item.nameHero)*@
                        Nom
                    </dt>
                    <dd>
                        @*@Html.Display(item.nameHero)*@
                        @Html.DisplayFor(modelitem => item.nameHero)
                    </dd>
                    <dt>
                        @*@Html.DisplayName(item.nameLanguage)*@
                        Langue
                    </dt>
                    <dd>
                        @*@Html.Display(item.nameLanguage)*@
                        @Html.DisplayFor(modelitem => item.nameLanguage)
                    </dd>
                </dl>
            }
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.First().idHero }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
