@model IEnumerable<MyPOS2.Data.Entity.SPP_HeroesTrans_Result>


@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>HERO</h4>
    <hr />
    <div class="dl-horizontal">
        <div>
            @*@Html.DisplayName(Model.First().imageHero)*@
            <label class="control-label col-md-2">Image</label>
        </div>
        <div>
            @*@Html.DisplayFor(model => model.imageHero)*@
            <img src="@Url.Content(Model.First().imageHero)" alt="Image du Héro" class="imgIndex" />
        </div>
        @foreach (var item in Model)
        {
            <dl class="dl-horizontal">
                <dt>
                    @*@Html.DisplayName(item.nameHero)*@
                    Nom
                </dt>
                <dd>
                    @Html.Display(item.nameHero)
                </dd>
                <dt>
                    @*@Html.DisplayName(item.nameLanguage)*@
                    Langue
                </dt>
                <dd>
                    @Html.Display(item.nameLanguage)
                </dd>
            </dl>
        }
    </div> 
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.First().idHero }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
