@model IEnumerable<MyPOS2.Data.Entity.SPP_HeroesTransDistinct_Result>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Héros</h2>

<p>
    @Html.ActionLink("Créer nouveau", "Create") | @Html.ActionLink("Retour au Menu", "Management", "Home")
</p>
@using (Html.BeginForm())
{
    <label for="SearchString"><strong>Recherche par nom: </strong></label>
    <div style="display:flex;">
        @Html.TextBox("SearchString", "", new { @class = "form-control"})
        <input type="submit" value="Recherche" />
        @Html.ActionLink("Tous", "Index", "Heroes", new { type = "button", @class = "btn btn-primary" })
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nom", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageHero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameLanguage)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameHero)
            </td>
            <td>
                @if (item.imageHero != null)
                {
                    <img src="@Url.Content(item.imageHero)" alt="Image du Héro" class="imgIndex" />
                }
                else
                {
                    <img src="~/Content/image/logo_noImage.png" alt="Pas d'image" class="imgIndex" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameLanguage)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.idHero }) |
                @Html.ActionLink("Détails", "Details", new { id = item.idHero, lang = item.languageId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.idHero })
            </td>
        </tr>
    }

</table>
