
@{
    ViewBag.Title = "Report";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Menu Rapports</h2>

<div class="jumbotron">
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nameBrand)*@
            Ventes totales
        </dt>

        <dd>
            <button type="button" class="btn btn-primary menuButtonReport" onclick="location.href='@Url.Action("Index", "Reports")'">Journalier</button>
            <button type="button" class="btn btn-primary menuButtonReport" onclick="location.href='@Url.Action("Index", "Reports")'">Mensuel</button>
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.imageBrand)*@
            Ventes totales par article
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.imageBrand)*@
            <button type="button" class="btn btn-primary menuButtonReport" onclick="location.href='@Url.Action("Index", "Reports")'">Journalier</button>
            <button type="button" class="btn btn-primary menuButtonReport" onclick="location.href='@Url.Action("Index", "Reports")'">Mensuel</button>
        </dd>
    </dl>



</div>